In [9]:
import pandas as pd

In [10]:
df_population_data = pd.read_csv('data.csv', encoding="shift-jis")

In [12]:
type(df_population_data)

pandas.core.frame.DataFrame

In [17]:
pd.reset_option('display.max_row')

In [18]:
df_population_data.describe()

,都道府県コード,和暦（年）,西暦（年）,人口（総数）,人口（男）,人口（女）
count,939.000000,939.000000,939.000000,9.390000e+02,9.390000e+02,9.390000e+02
mean,23.975506,25.005325,1967.523962,2.104324e+06,1.033620e+06,1.070703e+06
std,13.558310,16.937643,28.852766,1.970612e+06,9.890101e+05,9.826168e+05
min,1.000000,2.000000,1920.000000,4.546750e+05,2.228020e+05,2.318730e+05
25%,12.000000,11.000000,1942.500000,1.000186e+06,4.846355e+05,5.160885e+05
50%,24.000000,22.000000,1970.000000,1.461197e+06,7.026970e+05,7.583210e+05
75%,36.000000,37.500000,1992.500000,2.144998e+06,1.044104e+06,1.097804e+06
max,47.000000,60.000000,2015.000000,1.351527e+07,6.666690e+06,6.848581e+06